PORT=5000

NODE_ENV=development

DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD= Ashwin123!
DB_NAME=Hospital
DB_PORT=3306

JWT_SECRET=THISISACCESSSECRET
JWT_EXPIRY=15m

REFRESH_SECRET=THISISREFRESHSECRET
REFRESH_EXPIRY=7d

REACT_APP_URL=http://localhost:5173
REACT_ADMIN_APP_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM="Hospital HRMS <no-reply@hospitalhrms.com>"
